{% extends "layout.html" %}

{% block body %}	

<div class="container">
	<h2 class="text-center py-4">	LISTA DE USUARIOS</h2>

</div>

<div class="container">

	{{ tabla_lista_usuarios }}



	
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			<tbody>				
				{% for usuario in usuarios %}
				<tr>
					<td>
						<a href="/update_wtf/{{usuario.id}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{usuario.id}}">Editar</a> 
					</td>
				</tr>
				<div id="modaledit{{usuario.id}}" class="modal fade" role="dialog">

					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Actualizar Información</h4>
							</div>
							<div class="modal-body">
								{% from "_formhelpers.html" import render_field %}
								<form action="{{url_for('usuarios.lista_usuarios_wtf', id=usuario.id)}}" method="POST">

									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

									{{ render_field(form.nombres) }}
									{{ render_field(form.apellido_paterno) }}
									{{ render_field(form.apellido_materno) }}
									{{ render_field(form.correo) }}
									{{ render_field(form.telefono) }}
									{# { render_field(form.roles), value=usuario.roles selected } #}
									{{ render_field(form.contraseña) }}
									{{ render_field(form.confirma_contraseña) }}


									{# { render_field(form.nombres, value=usuario.name) }}
									{{ render_field(form.apellido_paterno, value=usuario.apellido_paterno) }}
									{{ render_field(form.apellido_materno, value=usuario.apellido_materno) }}
									{{ render_field(form.correo, value=usuario.email) }}
									{{ render_field(form.telefono, value=usuario.telefono) }}
									{ { render_field(form.roles), value=usuario.roles selected } }
									{{ render_field(form.contraseña) }}
									{{ render_field(form.confirma_contraseña) }#}

									<div class="form-group">
										<button class="btn btn-primary" type="submit">Update</button>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							</div>
						</div>
					</div>
				</div>


				{%endfor%}
			</tbody>
		</table>  #
	</div>


	{% endblock %}