{% extends "layout.html" %}

{% block body %}	

<div class="container">
	<h2 class="text-center py-4">	LISTA DE USUARIOS</h2>

</div>

<div class="container w-100"><!-- 
	<div class="row">
		<div class="col-11"> -->
			{{ tabla_lista_usuarios }}
		<!-- </div> -->

		<!-- <div class="col-1">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Acción</th>
					</tr>
				</thead>
				<tbody>				
					{% for usuario in usuarios %}
					<tr>
						<td>
							<a href="/update_wtf/{{usuario.id}}" class="btn btn-warning btn-xs" >Editar</a> 
						</td>
					</tr>

					{%endfor%}
				</tbody>
			</table>
		</div> -->
	</div>
</div>


{% endblock %}