{% extends "layout.html" %}


{% block body %}
<div class="container">
	<form class="row g-3" action="{{ url_for('usuarios.login') }}" method="post">
		<div class="col-auto">
			<label for="email" class="visually-hidden">Email</label>
			<input type="text" class="form-control-plaintext" id="email" name="email" placeholder="email@example.com">
		</div>
		<div class="col-auto">
			<label for="inputPassword2" class="visually-hidden">Password</label>
			<input type="password" class="form-control" id="inputPassword2" name="password" placeholder="Password">
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
		</div>
	</form>
</div>
{% endblock%}