{% extends "layout.html" %}

{% block body %}	

<div class="container">
	<h2 class="text-center py-4">Detalle de Escuela</h2>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nombres Escuelas</th>
				<th scope="col">User ID</th>
				<th scope="col">Fecha Creación</th>
				<th scope="col">Publicado</th>
				<th scope="col">Estado</th>	
				<th scope="col">Acción</th>		
			</tr>
		</thead>
		<tbody>			
			<tr>				
				<th scope="row">{{escuela.id}}</th>
				<td>{{escuela.name}}</td>
				<td>{{escuela.user_id}}</td>
				<td>{{escuela.fecha_creacion}}</td>
				<td>{{escuela.publicado}}</td>												
				<td>{{escuela.estado}}</td>
				<td>
					nada					
				</td>
			</tr>
			EDICION NO DISPONIBLE (completar controlador update)			
			
		</tbody>
	</table>
</div>


{% endblock %}