{% extends "layout.html" %}

{% block body %}

<h2>INGRESE NUEVO USUARIO</h2>

<form class="login-form align-items-center" action="{{ url_for('crear_usuario') }}" method="post">
	<div class="mb-3">
		<input type="text" name="nombres" placeholder="nombres">
	</div>
	<div class="mb-3">
		<input type="text" name="apellido_paterno" placeholder="apellido_paterno">
	</div>
	<div class="mb-3">
		<input type="text" name="apellido_materno" placeholder="apellido_materno">
	</div><div class="mb-3">
		<input type="email" name="correo" placeholder="correo">
	</div><div class="mb-3">
		<input type="password" name="contraseña" placeholder="contraseña">
	</div><div class="mb-3">
		<input type="tel" name="telefono" placeholder="telefono">
	</div><div class="mb-3">
		<input type="submit" name="submit">
	</div>		
	
</form>

{% endblock %}