{% extends "layout.html" %}

{% block body %}

<div class="container">
	<h2 class="text-center py-4">INGRESE NUEVO USUARIO</h2>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</div>

{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('usuarios.registrar_usuario') }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <dl>
  	{{ render_field(form.nombres) }}
    {{ render_field(form.apellido_paterno) }}
    {{ render_field(form.apellido_materno) }}
    {{ render_field(form.correo) }}
    {{ render_field(form.telefono) }}
    {{ render_field(form.contraseña) }}
    {{ render_field(form.confirma_contraseña) }}
  </dl>
 <button type="submit" class="btn btn-primary mb-3">Crear Usuario</button>
</form>

<!-- below jquery code triggered on onblur event and checks the username availability in the database -->
	<!-- <script type="text/javascript">
		$(document).ready(function() {
			$("#correo").on('input', function(e) {
				$('#msg').hide();
				
				if ($('#correo').val() == null || $('#correo').val() == "") {
					$('#msg').show();
					$("#msg").html("Correo es Requerido.").css("color", "red");
				} else {
					$.ajax({
						type: "POST",
						url: "http://localhost:5000/user_check",
						data: $('#signupform').serialize(),
						dataType: "html",
						cache: false,
						success: function(msg) {
							$('#msg').show();
							$("#msg").html(msg);
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$('#msg').show();
							$("#msg").html(textStatus + " " + errorThrown);
						}
					});
				}
			});
		});
	</script> -->

{#<!-- <form action="{{ url_for('crear_usuario') }}" method="post">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="floatingNombre" name="nombres" placeholder="Juanito Andrés">
		<label for="floatingNombre">Nombres</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="floatingApellidoP" name="apellido_paterno" placeholder="Fernandez">
		<label for="floatingApellidoP">Apellido Paterno</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="floatingApellidoM" name="apellido_materno" placeholder="Valenzuela">
		<label for="floatingApellidoM">Apellido Materno</label>
	</div>
	<div class="form-floating mb-3">
 		<input type="email" class="form-control" id="floatingEmail" name="correo" placeholder="name@example.com">
  		<label for="floatingEmail">Email</label>
	</div>
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floatingPassword" name="contraseña" placeholder="8 a 20 carácteres">
		<label for="floatingPassword">Crear Contraseña</label>
	</div>
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floatingPasswordConfirm" name="contraseña_confirm" placeholder="8 a 20 carácteres">
		<label for="floatingPasswordConfirm">Confirmar Contraseña</label>
	</div>
	<div class="form-floating mb-3">
		<input type="number" class="form-control" id="floatingTelefono" name="telefono" placeholder="9 8765 4321">
		<label for="floatingTelefono">Teléfono</label>
	</div>
	<div class="col-auto">
    	<button type="submit" class="btn btn-primary mb-3">Crear Usuario</button>
  	</div>
</form> -->#}

{% endblock %}